@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-xl {
    color: inherit;
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
    letter-spacing: 4.167px;
    text-transform: uppercase;
  }

  .heading-l {
    color: inherit;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 104.167% */
  }

  .heading-m {
    color: inherit;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
  }

  .heading-s {
    color: inherit;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }

  .body-text {
    color: inherit;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }

  .btn-dark {
    color: #fff;
    text-align: center;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }

  .btn-dark:hover {
    background: #dfdfdf;
    color: #000;
  }
}
